/**
--{ GRID.CSS }-- 	
=============================================================

	GRID.CSS - Fluid percentage CSS framework.

*/


/**
--{ GRID VARIABLES }-- 	
=============================================================
*/


.container{
	max-width:1024px;	/* replace none with content's max width. Full screen = none, Skeleton || 960 Grid = 960px */	
}


/**
--{ GRID SETUP }-- 	
=============================================================
*/

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.container{
	width:100%;
	box-sizing:border-box;
	margin:0 auto;	
	display: block
}

.col{
	margin:0 1.04%;	
	float:left;
}

.pushright{
	float:right;	
}

.row{
	clear:both;	
}

.centered{
	margin: 0 auto;
	float:none;	
}

.container .one{ width:4.16%; }
.container .two{ width:10.41%; }
.container .three{ width:16.66%; }
.container .four, .container .quarter{ width:22.91%; }
.container .five{ width:29.16%; }
.container .six{ width:35.41%; }
.container .seven{ width:41.66% }
.container .eight, .container .half{ width:47.91%; }
.container .nine{ width:54.16%; }
.container .ten{ width:60.41%; }
.container .eleven{ width:66.66%; }
.container .twelve, .container .threequarters{ width:72.91%; }
.container .thirteen{ width:79.16%; }
.container .fourteen{ width:85.41%; }
.container .fifteen{ width:91.66%; }
.container .sixteen, .container .whole{ width:97.91%;}

.container .third{ width:31.25%;}
.container .twothirds{ width:64.58%;}

.container .fifth{ width:17.90%; }
.container .twofifths{ width:37.88%; }
.container .threefifths{ width: 57.86%; }
.container .fourfifths{ width: 77.85%; }

.container .sixth{ width:14.57%; }
.container .twosixths{ width:31.22%; }
.container .threesixths{ width:47.87%; }
.container .foursixths{ width:64.52%; }
.container .fivesixths{ width:81.18%; }

.container .gapless.one{ width:6.25%; }
.container .gapless.two{ width:12.5%; }
.container .gapless.three{ width:18.75%; }
.container .gapless.four, .container .gapless.quarter{ width:25%; }
.container .gapless.five{ width:31.25%; }
.container .gapless.six{ width:37.5%; }
.container .gapless.seven{ width:43.75% }
.container .gapless.eight, .container .gapless.half{ width:50%; }
.container .gapless.nine{ width:56.25%; }
.container .gapless.ten{ width:62.5%; }
.container .gapless.eleven{ width:68.75%; }
.container .gapless.twelve, .container .gapless.threequarters{ width:75%; }
.container .gapless.thirteen{ width:81.25%; }
.container .gapless.fourteen{ width:87.5%; }
.container .gapless.fifteen{ width:93.75%; }
.container .gapless.sixteen, .container .gapless.whole{ width:100%;}

.container .gapless.third{ width:33.33%;}
.container .gapless.twothirds{ width:66.66%;}

.container .gapless.fifth{ width:20%; }
.container .gapless.twofifths{ width:40%; }
.container .gapless.threefifths{ width: 60%; }
.container .gapless.fourfifths{ width: 80%; }

.container .gapless.sixth{ width:16.66%; }
.container .gapless.twosixths{ width:33.33%; }
.container .gapless.threesixths{ width:50%; }
.container .gapless.foursixths{ width:66.66%; }
.container .gapless.fivesixths{ width:83.34%; }

@media only screen and (max-width: 480px) {
	
	.container{ float:none;clear:both;}
	
	.container .one, .container .two, .container .three, .container .four, .container .quarter, .container .five, .container .six, .container .seven, .container .eight, .container .half, .container .nine, .container .ten, .container .eleven, .container .twelve, .container .threequarters, .container .thirteen, .container .fourteen, .container .fifteen, .container .sixteen, .container .whole, .container .third, .container .twothirds, .container .fifth, .container .twofifths, .container .threefifths, .container .fourfifths, .container .sixth, .container .twosixths, .container .threesixths, .container .foursixths, .container .fivesixths{ width:97.91%; float:none; clear:both; display: block; }
	
	.container .gapless.one, .container .gapless.two, .container .gapless.three, .container .gapless.four, .container .gapless.quarter, .container .gapless.five, .container .gapless.six, .container .gapless.seven, .container .gapless.eight, .container .gapless.half, .container .gapless.nine, .container .gapless.ten, .container .gapless.eleven, .container .gapless.twelve, .container .gapless.threequarters, .container .gapless.thirteen, .container .gapless.fourteen, .container .gapless.fifteen, .container .gapless.sixteen, .container .gapless.whole, .container .gapless.third, .container .gapless.twothirds, .container .gapless.fifth, .container .gapless.twofifths, .container .gapless.threefifths, .container .gapless.fourfifths, .container .gapless.sixth, .container .gapless.twosixths, .container .gapless.threesixths, .container .gapless.foursixths, .container .gapless.fivesixths{ width:100%; float:none; clear:both; display: block;}
}

.clearing:after, .container:after{
	clear:both;
	content:'&nbsp;';
	height:1px;
	width:1px;
	visibility:hidden;
	display:block;	
}

img{
	max-width: 100%;
}