/* CSS Document */
@import url(reset.css);
@import url(grid.css);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,300|Open+Sans:400,700,600);


html{
	background: #dcdcdc url(../imgs/bg/geometry.png) repeat;
	font-family: 'Merriweather', serif;	
}

a:link, a:visited{
	color:#7BA5D1;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header{
	padding: 50px 0;
}

header figure:first-child{
	opacity: 0.2;
	margin-bottom: 15px;
}

#main article{
	padding:20px 0px;
	background: #fff;
	-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    -webkit-border-radius: 10px;
	border-radius: 10px;
	color:#333;
	font-size: 16px;
	line-height: 24px;
}

#main article h2{
	color:#7BA5D1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 50px;
}

#main article h2 span{
	text-align: right;
	font-size: 14px;
	color:#333;
	float: right;
	font-weight: 400;
}

#main article hr{
	width: 40%;
	border: none;
	height: 1px;
	clear: both;
	display: block;
	background: #eee;
	text-align: left;
	margin: 10px auto;
}

footer{
	bottom: 0;
	font-size: 10px;
	line-height: 20px;
}

footer p:last-child{
	text-align: right;
}